<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configures>
	<configure id="1" eventId="1" num1="-1:1" num2="" desciption="所有作战单位升到一星" />
	<configure id="2" eventId="1" num1="-1:2" num2="" desciption="所有作战单位升到二星" />
	<configure id="3" eventId="2" num1="-1:10" num2="" desciption="作战单位生命值恢复10%" />
	<configure id="4" eventId="2" num1="-1:20" num2="" desciption="作战单位生命值恢复20%" />
	<configure id="5" eventId="2" num1="-1:50" num2="" desciption="作战单位生命值恢复50%" />
	<configure id="6" eventId="3" num1="1:5" num2="500" desciption="您获得金币" />
	<configure id="7" eventId="3" num1="1:8" num2="1000" desciption="您获得金币" />
	<configure id="8" eventId="3" num1="1:13" num2="2000" desciption="您获得金币" />
	<configure id="9" eventId="3" num1="2:5" num2="500" desciption="您获得了石油" />
	<configure id="10" eventId="3" num1="2:8" num2="1000" desciption="您获得了石油" />
	<configure id="11" eventId="3" num1="2:13" num2="2000" desciption="您获得了石油" />
	<configure id="12" eventId="4" num1="3:1" num2="" desciption="您获得1队天启" />
	<configure id="13" eventId="4" num1="1:3" num2="" desciption="您获得1队多功能步兵车" />
	<configure id="14" eventId="5" num1="-1:1" num2="" desciption="兵种移动速度增加" />
	<configure id="15" eventId="5" num1="-1:1" num2="" desciption="兵种移动速度增加" />
	<configure id="16" eventId="6" num1="-1:10" num2="" desciption="您的作战部队受到了意外伤害" />
	<configure id="17" eventId="6" num1="-1:20" num2="" desciption="您的作战部队受到了意外伤害" />
	<configure id="18" eventId="6" num1="-1:50" num2="" desciption="您的作战部队受到了意外伤害" />
	<configure id="19" eventId="8" num1="-1:10" num2="" desciption="您获得了10点弹药" />
	<configure id="20" eventId="7" num1="-1:19" num2="" desciption="您获得1次核武器发射器，可以发射一次超级核武器" />
	<configure id="21" eventId="4" num1="2:3" num2="" desciption="获得一队灰熊坦克" />
	<configure id="22" eventId="7" num1="-1:3" num2="" desciption="您获得一次伞兵技能" />
	<configure id="23" eventId="7" num1="-1:7" num2="" desciption="获得一次精准炮击" />
</configures>